{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m6 l6 offset-m6 offset-l6">
    {% if form.errors %}
    <h5>Username or password incorrect </h5>
    {% endif %}

    <form method="post" action=".">
      
      <div class="row">
        <div class="col s12">
          <p> <label for="id_username">Username</label></p>
          {{form.username}}
        </div>

        <div class="col s12">
          <p> <label for="id_password">Password</label></p>
          {{form.password}}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {% if next %}
          <input type="hidden" name ="next" value="{{next}}">
          {% else %}
          <input type ="hidden" name ="next" value = "/home">
          {% endif %}

          <button class="button" type="submit" value="login">Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
